body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f4f8;
}

.container {
    text-align: center;
    margin-top: 150px;
}

h1 {
    font-size: 48px;
    color: #333;
}

p {
    font-size: 18px;
    color: #666;
    margin-bottom: 30px;
}

button {
    padding: 12px 25px;
    font-size: 16px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
